.statsBox {
  flex: 1;
}

.statsBox__card {
  border-top: 10px solid;
}

.statsBox__today {
  font-weight: 600;
  font-size: 1.5rem;
  margin-bottom: 0.5rem;
}

.statsBox__total {
  font-weight: 700 !important;
  font-size: 0.9rem !important;
}