body {
  background-color: #f5f5f5;
  padding: 20px 50px 0 50px;
  overflow: hidden;
}

.app__rightCard {
  display: flex;
  flex-direction: column;
  height: 90vh;
}

.app__left {
  display: flex;
  flex-direction: column;
  height: 95vh;
}

@media (max-width: 959px) {
  body {
    padding: 20px;
    overflow: scroll;
  }
  .app__rightCard {
    height: auto;
  }

  .app__left {
    height: auto;
  }
}